
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
</head>
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Company name</a>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
    <form method="post" action="/logout">
      <button type="submit" class="btn btn-danger">Sign out</button>
      </form>
    </li>
  </ul>
</nav>

<div class="container-fluid" style="margin-top:40px">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <h3>Welcome, <%= current_user.username%></h3>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <span data-feather="home"></span>
              Dashboard <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/users">
              <span data-feather="file"></span>
              Users
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/courses">
              <span data-feather="shopping-cart"></span>
              Courses
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/chapters">
              <span data-feather="users"></span>
              Chapters
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/lessons">
              <span data-feather="bar-chart-2"></span>
              Lessons
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/roles">
              <span data-feather="layers"></span>
              Roles
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Saved reports</span>
          <a class="d-flex align-items-center text-muted" href="#">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Current month
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Last quarter
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Social engagement
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Year-end sale
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <%= yield %>
      # <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      #   <h1 class="h2">Dashboard</h1>
      #   <div class="btn-toolbar mb-2 mb-md-0">
      #     <div class="btn-group mr-2">
      #       <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
      #       <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
      #     </div>
      #     <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
      #       <span data-feather="calendar"></span>
      #       This week
      #     </button>
      #   </div>
      # </div>
      # <h2>Section title</h2>
      # <div class="table-responsive">
      #   <table class="table table-striped table-sm">
      #     <thead>
      #       <tr>
      #         <th>#</th>
      #         <th>Header</th>
      #         <th>Header</th>
      #         <th>Header</th>
      #         <th>Header</th>
      #       </tr>
      #     </thead>
      #     <tbody>
      #       <tr>
      #         <td>1,001</td>
      #         <td>Lorem</td>
      #         <td>ipsum</td>
      #         <td>dolor</td>
      #         <td>sit</td>
      #       </tr>
      #       <tr>
      #         <td>1,002</td>
      #         <td>amet</td>
      #         <td>consectetur</td>
      #         <td>adipiscing</td>
      #         <td>elit</td>
      #       </tr>
      #       <tr>
      #         <td>1,003</td>
      #         <td>Integer</td>
      #         <td>nec</td>
      #         <td>odio</td>
      #         <td>Praesent</td>
      #       </tr>
      #       <tr>
      #         <td>1,003</td>
      #         <td>libero</td>
      #         <td>Sed</td>
      #         <td>cursus</td>
      #         <td>ante</td>
      #       </tr>
      #       <tr>
      #         <td>1,004</td>
      #         <td>dapibus</td>
      #         <td>diam</td>
      #         <td>Sed</td>
      #         <td>nisi</td>
      #       </tr>
      #       <tr>
      #         <td>1,005</td>
      #         <td>Nulla</td>
      #         <td>quis</td>
      #         <td>sem</td>
      #         <td>at</td>
      #       </tr>
      #       <tr>
      #         <td>1,006</td>
      #         <td>nibh</td>
      #         <td>elementum</td>
      #         <td>imperdiet</td>
      #         <td>Duis</td>
      #       </tr>
      #       <tr>
      #         <td>1,007</td>
      #         <td>sagittis</td>
      #         <td>ipsum</td>
      #         <td>Praesent</td>
      #         <td>mauris</td>
      #       </tr>
      #       <tr>
      #         <td>1,008</td>
      #         <td>Fusce</td>
      #         <td>nec</td>
      #         <td>tellus</td>
      #         <td>sed</td>
      #       </tr>
      #       <tr>
      #         <td>1,009</td>
      #         <td>augue</td>
      #         <td>semper</td>
      #         <td>porta</td>
      #         <td>Mauris</td>
      #       </tr>
      #       <tr>
      #         <td>1,010</td>
      #         <td>massa</td>
      #         <td>Vestibulum</td>
      #         <td>lacinia</td>
      #         <td>arcu</td>
      #       </tr>
      #       <tr>
      #         <td>1,011</td>
      #         <td>eget</td>
      #         <td>nulla</td>
      #         <td>Class</td>
      #         <td>aptent</td>
      #       </tr>
      #       <tr>
      #         <td>1,012</td>
      #         <td>taciti</td>
      #         <td>sociosqu</td>
      #         <td>ad</td>
      #         <td>litora</td>
      #       </tr>
      #       <tr>
      #         <td>1,013</td>
      #         <td>torquent</td>
      #         <td>per</td>
      #         <td>conubia</td>
      #         <td>nostra</td>
      #       </tr>
      #       <tr>
      #         <td>1,014</td>
      #         <td>per</td>
      #         <td>inceptos</td>
      #         <td>himenaeos</td>
      #         <td>Curabitur</td>
      #       </tr>
      #       <tr>
      #         <td>1,015</td>
      #         <td>sodales</td>
      #         <td>ligula</td>
      #         <td>in</td>
      #         <td>libero</td>
      #       </tr>
      #     </tbody>
      #   </table>
      # </div>
    </main>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="/docs/4.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
        <script src="dashboard.js"></script></body>
</html>
